name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # DEBUG ULTRA CLAIR
      - name: Show repo structure
        run: |
          echo "PWD:"
          pwd
          echo "ROOT LIST:"
          ls -la
          echo "SEARCH pyproject:"
          find . -name pyproject.toml -print

      - name: Install deps
        run: |
          set -euo pipefail
          python -m pip install -U pip
          pip install -e ".[dev]"

      - name: Tests
        run: |
          python -m pytest -q || true
